<!DOCTYPE html>
<html>
  <head>
    <title>Tags</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>The existent tags are:</h1>
    <% tags.forEach(function(tag) { %>
      <p><%= tag %></p>
    <% }); %>
  </body>
</html>
